<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" android:maxSdkVersion="28" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_gallery"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VaultGallery">

        <activity
            android:name=".SecureGalleryActivity"
            android:exported="true"
            android:label="@string/secure_gallery_label"
            android:icon="@drawable/ic_secure_gallery"
            android:taskAffinity="com.danyal.vaultgallery.secure" />

        <activity-alias
            android:name=".SecureGalleryLauncher"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_secure_gallery"
            android:label="@string/secure_gallery_label"
            android:targetActivity=".SecureGalleryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".MainGalleryActivity"
            android:exported="true"
            android:label="@string/gallery_label"
            android:icon="@drawable/ic_gallery"
            android:taskAffinity="com.danyal.vaultgallery.public">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.secure.share"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/secure_share_paths" />
        </provider>
    </application>
</manifest>
